<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Stripo.email" verbose="1">

    <listeners>
        <listener class-name="commons.listeners.TestListener"/>
        <listener class-name="commons.listeners.RetryListener"/>
    </listeners>
    <parameter name="BROWSER" value="${BROWSER}"/>
    <test name="Site" parallel="methods" thread-count="3" >
        <classes>
            <class name="BlogTest" />
            <class name="AmpExampleTest" />
            <class name="CustomerStoriesTest" />
            <class name="HomeTest" />
            <class name="PluginTest" />
            <class name="TemplateOrderTest" />
            <class name="NewEditorTest" />
            <class name="TemplateTest" />
            <class name="PricingPageTest" />
        </classes>
    </test>

    <test name="Admin">
        <classes>
            <class name="AdminTest" />
        </classes>
    </test>
    <test name="App">
        <classes>
            <class name="TemplateGeneratorTest" />
        </classes>
    </test>


</suite>
